@mixin flexbox() {
  display: flex;
}

@mixin flexbox-hrz() {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@mixin flexbox-vrt() {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin button($color, $color-bg, $color-border) {
  color: $color;
  background-color: $color-bg;
  border: 1px solid $color-border;
}
