@mixin flexbox() {
  display: flex;
}

@mixin flexbox-hrz($gap) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: $gap;
}

@mixin flexbox-vrt($gap) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $gap;
}

@mixin button($color, $color-bg, $color-border) {
  color: $color;
  background-color: $color-bg;
  border: 1px solid $color-border;
}

@mixin buttonTheme($theme) {
  @if ($theme == "outline") {
    background-color: $color-neutral-50;
    color: $color-neutral-900;
    border: 1px solid $color-neutral-900;
  } @else {
    background-color: $color-neutral-900;
    color: $color-neutral-50;
  }
}

@mixin badgeTheme($theme) {
  @if ($theme == "outline") {
    background-color: $color-neutral-50;
    color: $color-neutral-900;
    border: 1px solid $color-neutral-900;
  } @else {
    background-color: $color-neutral-900;
    color: $color-neutral-50;
  }
}
