.inputForm {
  position: relative;
  display: inline-block;
  width: 100%;

  .label {
    display: block;
    color: $color-neutral-900;
    font-weight: bold;
  }

  .inputWrapper {
    width: 100%;
    position: relative;

    .input {
      width: 100%;
      outline: none;
      -webkit-appearance: none;
      appearance: none;
      -moz-appearance: none;
      border: 1px solid $color-neutral-500;
      border-radius: $border-radius-1;
      padding: $padding-input;
      padding-right: 20px;

      &.line {
        border: none;
        border-bottom: 1px solid $color-neutral-500;

        &.error {
          border: none;
          border-bottom: 1px solid $color-error-900;
        }
      }

      &:focus {
        outline: 1px solid $color-primary-900;
        box-shadow: 0 0 8px $color-primary-500;
      }

      &.error {
        border: 1px solid $color-error-900;

        &:focus {
          outline: 1px solid $color-error-900;
          box-shadow: 0 0 8px $color-error-500;
        }
      }
    }

    .eye {
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      color: $color-neutral-900;
      cursor: pointer;
    }
  }

  .errorMessage {
    display: block;
    color: $color-error-900;
  }

  .label {
    display: block;

    &.error {
      color: $color-error-500;
    }
  }
}
