#root {
  font-size: $base-size;
  background-color: $color-primary-50;
  color: $color-primary-900;
  height: 100vh;
  @include flexbox-vrt();
  gap: 24px;
}

button {
  width: rem(146px);
  height: rem(44px);
  border-radius: $border-radius-2;
  @include flexbox-hrz();
  padding: $padding-button;
  gap: rem(8px);
  cursor: pointer;
}

.container {
  @include flexbox-hrz;
  gap: 50px;
  p {
    width: 33.33%;
    padding: $padding-paragraphs;
    text-align: center;
    @include xs {
      width: 100%;
    }
  }

  @include xs {
    flex-wrap: wrap;
  }
}

.success {
  @include button($color-success-50, $color-success-900, $color-success-500);
}

.error {
  @include button($color-error-50, $color-error-900, $color-error-500);
}

.secondary {
  @include button(
    $color-secondary-50,
    $color-secondary-900,
    $color-secondary-500
  );
}
