// neutral
$color-neutral-900: #111827;
$color-neutral-500: #6b7280;
$color-neutral-50: #f9fafb;

// primary
$color-primary-900: #02058d;
$color-primary-500: #4b4efc;
$color-primary-50: #f5f5ff;

// secondary
$color-secondary-900: #6a205c;
$color-secondary-500: #fc4bdc;
$color-secondary-50: #ffedfc;

// success
$color-success-900: #16271d;
$color-success-500: #22c55e;
$color-success-50: #f0fdf4;

// error
$color-error-900: #7f1d1d;
$color-error-500: #ef4444;
$color-error-50: #fef2f2;

$color-warning: #ffc409;
