$heading-1: 26px;
$heading-2: 22px;
$heading-3: 20px;
$heading-4: 18px;
$heading-5: 16px;
$heading-6: 14px;
$heading-7: 12px;

$paragraph: 16px;
$paragraph-small: 14px;
$paragraph-x-small: 12px;

$font-primary: Inter, sans-serif;
$font-secondary: "Space Grotesk", sans-serif;
